<ul id="users">
<% @users.each do |user| %>
  <li><%= user.username %></li>
  <div class="friend-buttons <%=
    @friendships.any? { | fs| fs.target_id == user.id } ?
      'can-unfriend' :
      ( current_user.id == user.id ? '' : 'can-friend' ) %>">
    <button class="friend" data-id="<%= user.id %>">Friend </button>
    <button class="unfriend"
      data-id="<%= friendship = @friendships.find do |fs|
        fs.target_id == user.id
      end
      friendship.id if friendship %>">Unfriend </button>
  </div>
<% end %>
</ul>

<script type="application/javascript">
  $('#users').on('click', '.friend', function(event) {
    $.ajax({
      url: "/users/" + $(event.target).data("id") + "/friendships/",
      type: "POST",
      success: function(friendship) {
        console.log(friendship);
        $(event.target).parent().toggleClass("can-friend can-unfriend");
        $(event.target).removeAttr("disabled");
        $(event.target).text("Friend");
        $($(event.target).siblings()[0]).data("id", friendship['id'])
      }
      ,
      error: function() {
        alert("FAIL");
        $(event.target).removeAttr("disabled");
        $(event.target).text("Friend");
      }
    })
    $(event.target).text("Friending...");
    $(event.target).attr("disabled", "true");
  })

  $('#users').on('click', '.unfriend', function(event) {
    $.ajax({
      url: "/friendships/" + $(event.target).data("id"),
      type: "DELETE",
      success: function() {
        $(event.target).parent().toggleClass("can-friend can-unfriend");
        $(event.target).removeAttr("disabled");
        $(event.target).text("Unfriend");
      },
      error: function() {
        alert("FAIL");
        $(event.target).removeAttr("disabled");
        $(event.target).text("Unfriend");
      }
    })
    $(event.target).text("Unfriending...");
    $(event.target).attr("disabled", "true");
  })


</script>