<h1><%= @user.username %></h1>

<h2>Secrets</h2>
<h3>Add a Secret!</h3>
<%= render 'secrets/form' %>
<br><br>
<ul id="secrets-list">
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %></li>
      <ul id="secret-<%= secret.id %>-tags-list">
        <% secret.tags.each do |tag|  %>
          <li> <%= tag.title %> </li>
        <% end %>
      </ul>
  <% end %>
</ul>

<script>

  $('#add-secret').on('click', function(event) {
    event.preventDefault();
    $.ajax({
      url: "/users/<%= @user.id %>/secrets",
      type: "POST",
      data: $("#secret-form").serializeJSON(),
      success: function(results){
        var secret = results[0];
        var tags = results[1];
        $('#secrets-list').prepend("<li>"+ secret.title + "</li>"
          +"<ul id='secret-" + secret.id + "-tags-list'></ul>"
        );

        tags.forEach(function(tag) {
          $('#secret-' + secret.id + '-tags-list').append(
            $('<li>' + tag.title + '</li>'));
        });

        $('#new-secret-title').val("");
        $("#tags-container").empty();
      },
      error: function(errors){
        alert(errors.responseText);
      }
    })
  })
</script>