<script id="tags_list" type="application/json">
  { "tags" : <%= Tag.all.to_json.html_safe %>     }
</script>

<script id="tags_template" type="text/template">
  <select name="secret[tag_ids][]" id="tags">
  <%% _(tags).each( function(tag) { %>
    <option value='<%%= tag.id %>'><%%= tag.title %></option>
  <%% }); %>

  </select>
</script>

<script>
  $(document).ready(function(){
    var addTagSelector = function() {
      var tags = JSON.parse($('#tags_list').html())['tags'];
      var templateCode = $('#tags_template').html()
      var tagsTemplateFn = _.template(templateCode);
      return tagsTemplateFn( {
        tags: tags
      });
    };

    $('#add-tag').on('click', function(event) {
      event.preventDefault();
      var renderedContent = addTagSelector();
      $('#tags-container').append(renderedContent);
    })
  });


</script>

<form action="<%= user_secrets_url(params[:id]) %>"
  method="POST" id="secret-form">
  <%= csrf_token %>

  <label>Title
  <input type="textarea" name="secret[title]" value="<%= @secret.title %>" id="new-secret-title">
  </label>

  <div id="tags-container"><label for="tags">Tags</label>
  <a id="add-tag" href="#">Add Tag</a>
  </div>

  <input type="submit" value="Send Whisper" id="add-secret">
</form>

