// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend {
  display: none;
}

.unfriend {
  display: none;
}

.can-friend .friend {
  display: initial;
}

.can-unfriend .unfriend {
  display: initial;
}


